/* For mobile phones: */
/* @media (min-width: 320px) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 375px;
  height: 667px;
  margin-top: 1px;
  margin-left: 1467px;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  background-color: #d5e0ee;
}

/* container holding all the elements */

.container {
  background-color: hsl(0, 0% 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  max-width: 17rem;
  margin-bottom: 1 rem;
  padding: 10px;
  width: 320px;
  height: 497px;
  top: 85px;
  left: 28px;
  align-content: center;
}

.qr_img {
  width: 288px;
  height: 250px;
  top: 101px;
  left: 44px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

h3 {
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 700px;
  color: hsl(218, 44%, 22%);
  text-align: center;
  width: 100%;
  padding-top: 30px;
}

.qr_content {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  margin: 0 auto;
  margin-bottom: calc(40px-1em);
  padding-top: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
